AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_REGION=af-south-1
AWS_BUCKET_NAME=bluprint-storage
GEMINI_API_KEY=your-gemini-api-key
SECRET_KEY=your-secret-key
AUTH_SHARED_PASSWORD=your-auth-password
